<!DOCTYPE html>
<html lang="en">
  <%= render '/_head.*' %>
  <body id="body" onclick="closeMenus(this)">
    <% if @item[:title] == 'Home' %>
      <%= render '/_header_home.*' %>
    <% else %>
      <%= render '/_header.*' %>
    <% end %>
    <div id="main">
      <%= yield %>
    </div>
    <%= render '/_footer.*' %>
  </body>
</html>
