<% render '/default.*' do %>
<div class="page-wrapper">
  <div class="description-grid-main">
    <div class="bg-header-robot" <%= @item[:header_image]%>>
      <h1><%= @item[:title] %></h1>
      <h2><%= @item[:subtitle] %></h2>
    </div>
    <div class="description-main-content">
      <%= yield %>
    </div>

    <div class="description-sidebar">
      <h1>Robot Category</h1>
      <div class="tags-wrapper-sidebar">
        <% @item[:categories].each do |category| %>
          <a href='#' class='tag'><%= category %></a>
        <% end %>
      </div>
      <h1>Robot Tags</h1>
      <div class="tags-wrapper-sidebar">
        <% @item[:tags].each do |tag| %>
          <a class='tag'><%= tag %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
