<% render '/default.*' do %>
<div class="page-wrapper">
  <div class="description-grid-main">
    <% header_style = @item[:header_image] ? "background-image: url(#{robot_image_url(@item, :header_image)})" : '' %>
    <div class="bg-header-robot" style="<%= header_style %>">
      <h1><%= @item[:title] %></h1>
      <h2><%= @item[:subtitle] %></h2>
    </div>
    <div class="description-main-content">
      <%= yield %>
    </div>

    <div class="description-sidebar">
      <h1>Robot Category</h1>
      <div class="tags-wrapper-sidebar">
        <% robot_categories(@item).each do |category| %>
          <a href='#' class='tag'><%= category %></a>
        <% end %>
      </div>
      <h1>Robot Tags</h1>
      <div class="tags-wrapper-sidebar">
        <% robot_tags(@item).each do |tag| %>
          <a class='tag'><%= tag %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
